
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #D32F2F;
}

table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #D32F2F;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tr:hover {
    background-color: #f1f1f1;
}

button {
    display: block;
    width: 150px;
    margin: 2em auto;
    padding: 0.5em;
    background-color: #D32F2F;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #C62828;
}

form {
    max-width: 500px;
    margin: 2em auto;
    background-color: #fff;
    padding: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #D32F2F;
}

select, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

li {
    margin: 0 10px; 
    text-align: center; 
}